<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452081766172-hargbclmqv78i89lku2emo78vf6da9u2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452081766172-hargbclmqv78i89lku2emo78vf6da9u2</string>
	<key>API_KEY</key>
	<string>AIzaSyDwecyrS1azDZFr2EO77wrX-xOtX7pvX4M</string>
	<key>GCM_SENDER_ID</key>
	<string>452081766172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lcr.webappsample.Debug</string>
	<key>PROJECT_ID</key>
	<string>webviewappsample</string>
	<key>STORAGE_BUCKET</key>
	<string>webviewappsample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452081766172:ios:4ae0af5bad9b9f88faf4d9</string>
</dict>
</plist>